$primary-color-100: #D87D4A;
$primary-color-200: #FBAF88;
$black-100: #101010;
$black-200: #000000;
$black-300: #0E0E0E;
$black-400: #191919;
$gray-100: #F1F1F1;
$gray-200: #FAFAFA;
$gray-300: #C4C4C4;
$gray-400: #979797;
$gray-500: #4C4C4C;
$gray-600: #333333;
$white-100: #FFFFFF;
$error-color-100: #CD2C2C;