@use '../styles/typography';
@use '../styles/screenSizes';
@use '../styles/variables';

.container {
  margin: 0 6.4vw 120px;

  @include screenSizes.md {
    margin: 0 5vw 96px;
  }

  @include screenSizes.lg {
    margin: 0 11vw 200px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;

  @include screenSizes.lg {
    gap: 160px;
    margin-bottom: 160px;
  }
}