@use '../../styles/typography';
@use '../../styles/screenSizes';
@use '../../styles/variables';

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-top: 120px;

  @include screenSizes.md {
    gap: 63px;
  }

  @include screenSizes.lg {
    flex-direction: row-reverse;
    gap: 125px;
  }

  &__image {
    width: 100%;
    height: 300px;
    position: relative;

    @include screenSizes.lg {
      height: 588px;
      width: calc(50% - 62.5px);
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 8px;
  
      width: 100%;
      height: 100%;
  
      background-image: url('../../../../public/assets/shared/mobile/image-best-gear.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  
      @include screenSizes.md {
        background-image: url('../../../../public/assets/shared/tablet/image-best-gear.jpg');
      }
  
      @include screenSizes.lg {
        background-image: url('../../../../public/assets/shared/desktop/image-best-gear.jpg');
      }
    }
  }

  &__info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @include screenSizes.lg {
      align-items: flex-start;
      width: calc(50% - 62.5px);
    }
  }

  &__header {
    @include typography.header-4;
    text-align: center;

    &--emphasis-color {
      color: variables.$primary-color-100;
    }

    @include screenSizes.md {
      @include typography.header-2;
      max-width: 570px;
    }

    @include screenSizes.lg {
      max-width: 445px;
      text-align: start;
    }
  }

  &__description {
    @include typography.paragraph;
    text-align: center;
    color: variables.$gray-400;

    @include screenSizes.md {
      max-width: 570px
    }

    @include screenSizes.lg {
      max-width: 445px;
      text-align: start;
    }
  }
}