@use '../../styles/variables';
@use '../../styles/typography';
@use '../../styles/screenSizes';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: variables.$black-200;

  border-bottom: 1px solid variables.$gray-400;

  @include screenSizes.md {
    border-bottom: none;
  }

  @include screenSizes.lg {
    border-bottom: none;
  }

  &--homepage {
    @extend .navbar;
    background-color: transparent;
  }

  &__options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    margin-inline: 6.4vw;

    @include screenSizes.md {
      margin-inline: 5vw;
      border-bottom: 1px solid variables.$gray-400;
    }

    @include screenSizes.lg {
      margin-inline: 11vw;
      border-bottom: 1px solid variables.$gray-400;
    }
  }
}

.hamburger {
  @include screenSizes.lg {
    display: none;
  }
}

.options {
  display: none;

  @include screenSizes.lg {
    display: flex;
    gap: 25px;
  }
}

.button__link {
  padding: 5px;

  @include typography.sub-title;
  color: variables.$white-100;

  transition: .2s;

  &:hover {
    color: variables.$primary-color-100;
  }
}

.cart {
  &:hover {
    cursor: pointer;
  }
}