@use '../../styles/variables';
@use '../../styles/typography';
@use '../../styles/screenSizes';

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 90px;
  padding-inline: 6.4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: variables.$black-100;

  &__item {
    background-color: variables.$gray-600;
    height: 30px;
    border-radius: 4px;
    animation: skeleton-loading 1s linear infinite alternate;

    &--left {
      @extend .navbar__item;
      width: 30px;
    }

    &--center {
      @extend .navbar__item;
      width: 30vw;
    }

    &--right {
      @extend .navbar__item;
      width: 30px;
    }
  }

  &--product {
    @extend .navbar;
    background-color: variables.$black-200;
  }
}

.body {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: variables.$black-100;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    background-color: variables.$gray-600;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__image {
    background-color: variables.$gray-600;
    width: 35vw;
    height: 60vh;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

.category {
  width: 100vw;
  height: 240px;

  background-color: variables.$black-200;

  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    background-color: variables.$gray-600;
    width: 250px;
    height: 30px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

.product {
  width: 100%;
  height: fit-content;
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__image {
    background-color: variables.$gray-300;
    width: 35vw;
    height: 40vh;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__name {
    background-color: variables.$gray-300;
    width: 20vw;
    height: 40px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__description {
    background-color: variables.$gray-300;
    width: 40vw;
    height: 60px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__price {
    background-color: variables.$gray-300;
    width: 10vw;
    height: 20px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__button {
    background-color: variables.$gray-300;
    width: 15vw;
    height: 45px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

.checkout {
  &__page {
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
  }

  &__form {
    margin: 40px 6.4vw;
    padding: 32px;
    background-color: variables.$white-100;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 40px
  }

  &__title {
    background-color: variables.$gray-300;
    width: 15vw;
    height: 30px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  &__section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    background-color: variables.$gray-300;
    width: 100%;
    height: 45px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

@keyframes skeleton-loading {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 75%;
  }
}