@use '../../../styles/typography';
@use '../../../styles/screenSizes';
@use '../../../styles/variables';

.remove {
  @include typography.paragraph;
  color: variables.$gray-400;
  text-decoration: underline;

  transition: 0.4s;

  &:hover {
    cursor: pointer;
    color: variables.$primary-color-100;
  }
}