@use '../../styles/variables';
@use '../../styles/typography';

.button {
  width: 160px;
  height: 48px;
  text-align: center;
  vertical-align: middle;

  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    @extend .button;
    transition: .4s;
    @include typography.sub-title;

    color: variables.$white-100;
    background-color: variables.$primary-color-100;

    &:hover {
      cursor: pointer;
      background-color: variables.$primary-color-200;
    }
  }

  &--secondary {
    @extend .button;
    height: 44px;
    transition: .4s;
    @include typography.sub-title;

    color: variables.$black-200;
    background-color: transparent;
    border: 2px solid variables.$black-200;

    &:hover {
      cursor: pointer;
      color: variables.$white-100;
      background-color: variables.$black-200;
    }
  }

  &--tertiary {
    @extend .button;
    transition: .2s;
    @include typography.sub-title;

    gap: 12px;

    color: variables.$gray-400;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: variables.$primary-color-100;
    }
  }
  
  &--checkout {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 15px 0px;

    transition: .4s;
    
    @include typography.sub-title;
    font-size: 13px;
    line-height: normal;

    color: variables.$white-100;
    background-color: variables.$primary-color-100;

    &:hover {
      cursor: pointer;
      background-color: variables.$primary-color-200;
    }
  }
}