@use '../../styles/typography';
@use '../../styles/screenSizes';
@use '../../styles/variables';

.container {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @include screenSizes.md {
    gap: 32px;
  }

  @include screenSizes.lg {
    gap: 48px;
  }
}