@use '../../styles/typography';
@use '../../styles/screenSizes';
@use '../../styles/variables';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screenSizes.lg {
    flex-direction: row;
    gap: 125px;
  }

  &--reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include screenSizes.lg {
      flex-direction: row-reverse;
      gap: 125px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 93.9vw;
    margin-bottom: 32px;

    @include screenSizes.md {
      height: 45.8vw;
      margin-bottom: 52px;
    }

    @include screenSizes.lg {
      width: calc(50% - 62.5px);
      height: 38.9vw;
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screenSizes.lg {
      align-items: flex-start;
      width: calc(50% - 62.5px);
    }
  }

  &__launch {
    @include typography.overline;
    color: variables.$primary-color-100;

    margin-bottom: 24px;

    @include screenSizes.md {
      margin-bottom: 16px;
    }
  }

  &__name {
    @include typography.header-4;
    color: variables.$black-100;
    text-align: center;

    margin-bottom: 24px;

    @include screenSizes.md {
      @include typography.header-2;
      max-width: 500px;
      margin-bottom: 32px;
    }

    @include screenSizes.lg {
      text-align: start;
      max-width: 445px;
    }
  }

  &__description {
    @include typography.paragraph;
    color: variables.$gray-400;
    text-align: center;

    margin-bottom: 24px;

    @include screenSizes.md {
      max-width: 570px;
    }

    @include screenSizes.lg {
      text-align: start;
      margin-bottom: 40px;
      max-width: 445px;
    }
  }
}